<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about_us</title>
</head>
<body>
    <h1>this is rabbi_003 app and it is my project..<br /> and it is my third app..</h1><br /><br />

    <ul style="list-style-type: default;">
        <li>ML</li>
        <li>DL</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>DJANGO</li>
    </ul>
    <ol start="default">
        <li>ML</li>
        <li>DL</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>DJANGO</li>
    </ol>
    <p align="center">this is <small>django platform</small> </p>
    <p align="center">this is <b>django platform</b>  and it is use paraghaph </p>
    <p align="center"><i>it created by</i> html</p>
    <p align="center"><mark>you hnow what is html..</mark></p><br>
    <del><p align="center"><mark>you hnow what is delete</mark></p></del>

    <ins><p align="center"><mark style="background-color: green;">you hnow what is instant</mark></p></ins>

    <div>
        <p align="center">(a+b)<sup>2</sup>= a<sup>2</sup>+2ab+b<sup>2</sup></p>
        <p align="center">(a+b)<sub>2</sub>= a<sub>2</sub>+2ab+b<sub>2</sub></p>
        <p align="center"><abbr title="and it is use pareghaph">DT</abbr></p>

        <! comment>
        <pre align="center">       hello
        <                  DJANGO
                                    machine learing..
        </pre>
        <p align="center">welcome to my <span style="color: blue;">family</span></p>
        <from action="">
            <input type ="text" name="" id="" placeholder="enter your name"><br><br>
            <input type ="email" name="" id="" placeholder="enter your email"><br><br>
            <input type ="email" name="" id="" value="rabiualhasanrabbi123@gmail.com"><br><br>
            <input type ="password" name="" id="" placeholder="enter your password"><br><br>
            <input type ="radio" name="gender" id="">Male
            <input type ="radio" name="gender" id="">Female
            <input type ="radio" name="gender" id="">Others
            <br><br>
            <input type ="checkbox" name="" id="">CSE
            <input type ="checkbox" name="" id="">EEE
            <input type ="checkbox" name="" id="">ENGLISH
            <br><br>
            <input type ="file" name="" id="">
            <input type ="datetime-local" name="" id="">
            <br><br>
            <input type ="submit" value="SUBMIT">
            <input type ="reset" value="reset">
        </from>
    </div>
    <br><br>
    <div>
        <main>
            <table width="500px" border="2px" align="center">
                <caption> students info</caption>
                <colgroup>
                    <col span="2" style="background-color: burlywood" />

                </colgroup>
                <thead>
                    <tr align="center">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">GPA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center">
                        <th scope="row">101</th>
                        <td>rabbi</td>
                        <td>3.90</td>
                    </tr>
                    <tr align="center">
                        <td scope="row">102</td>
                        <td>Sakib</td>
                        <td>3.9</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>